body{
    margin: 0;
    padding: 0;
}

/* ==== Header ==== */
header{
    background-color: beige;
    padding: 10px;
}

/* ==== Form ==== */
form{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}